html {
  font-size: 10px;
  font-family: Geneva, Verdana, sans-serif;
  color: rgb(224, 224, 224)
}

body {
  display: flex;
  justify-content: center;
  background: rgb(101, 101, 158);
}

#main-container {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  border: 2px solid rgb(73, 57, 57);
}

caption {
  border: 2px solid rgb(73, 57, 57);
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0;
}

th {
  border: 2px solid rgb(73, 57, 57);
  font-size: 1.6rem;
  padding: 1rem 4rem;
}

tr {
  border: 2px solid rgb(73, 57, 57);
}

td {
  border: 2px solid rgb(73, 57, 57);
  font-size: 1.6rem;
  padding: 1rem 2rem;
}

input {
  font-size: 1.6rem;
  padding: 0.5rem 4rem;
  border: 2px solid rgb(150, 142, 142);
  background: rgb(171, 171, 209);
}

.button-container {
  display:flex;
  justify-content: center;
  align-items: center;
  border: 0px;
}

.button {
  font-size: 1.6rem;
  font-weight: bold;
}

#calc {
  margin-top: 3vh;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1vh;
}

span {
  font-size: 1.6rem;
}

.button-delete {
  background: rgb(196, 12, 12);
  color: white;
}

#create {
  background: rgb(25, 146, 79);
}

#calc {
  background: rgb(25, 146, 79);
}
